h2 {
    text-transform: uppercase;
    color: #084DA2;
  }
  
  img {
    width: 150px;
  }

  .button-back {
    background-color:#084DA2;
    color: #fff;
    border-radius: 15%;
  }


* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row > div {
  background-color: #e2e8f0;
  border: 1px solid #cbd5e0;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
