<div class="row">
    <div class="col-12">
        <button (click)="goBack()" class="button-back">Back to the list</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>{{ pokemon?.name | uppercase }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <img [src]="pokemon?.sprites?.front_default" alt="{{ pokemon?.name }}">
    </div>
    <div class="col-3">
        <p><strong>Height:</strong> {{ pokemon?.height }}</p>
    </div>
    <div class="col-3">
        <p><strong>Weight:</strong> {{ pokemon?.weight }}</p>
    </div>
</div>